.main-image img {
    width: 100%;
    height: auto;
    border-radius: 0px; /* Ejemplo de esquinas redondeadas */
    /* Otros estilos personalizados */

    
}

.full-width {
    width: 100%;
    margin: 10px 0px 0px 0px;
}

.full-width-title {
    margin: 10px 0px 0px 0px;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
}

.full-width-title h1 {
    color: black;
}

.main-image{
    margin: 0px 0px 30px 0px;
}



